---
import { Image } from "@astrojs/image/components";
import profilePhoto from "../assets/me.jpeg";
import SocialLinks from "../components/SocialLinks.astro";
import Layout from "../layouts/Layout.astro";

const posts = await Astro.glob("../pages/blog/*.md");
const publishedPosts = posts.filter((p) => !p.frontmatter.draft);
---

<Layout title="Jeffrey Yao" description="Software Engineer at Relevance AI" og="home.png" isPost={false}>
  <main class="flex flex-col items-start gap-16 md:gap-24 px-8 py-16 md:px-12 md:py-24">
    <header class="flex flex-col gap-8">
      <Image src={profilePhoto} width={144} class="w-[72px] rounded-full" alt="A photo of Jeffrey" />
      <section class="flex flex-col gap-4">
        <h1>Jeffrey Yao</h1>
        <h2 class="opacity-70">Software Engineer at Relevance AI</h2>
      </section>

      <section class="flex flex-col gap-4 leading-relaxed opacity-50">
        <p>Crafting beautiful + performant software by day, studying Computer Science at UNSW by night.</p>
        <p>
          In my spare time I gym, run, explore new places, build side projects and think about where to travel next.
        </p>
      </section>

      <SocialLinks />
    </header>

    <section class="grid grid-flow-row gap-8 md:gap-0 md:grid-flow-col">
      <h3 class="w-44">Blog</h3>
      <div class="grid grid-flow-row gap-8 md:gap-14">
        {
          publishedPosts.map((p) => (
            <div class="grid grid-flow-row gap-2 md:grid-flow-col md:gap-28">
              <span class="opacity-50 w-28">{p.frontmatter.date}</span>
              <div class="flex flex-col max-w-md gap-6">
                <div class="flex flex-col gap-2">
                  <a href={p.url}>
                    <h4>{p.frontmatter.title}</h4>
                  </a>
                  <p class="opacity-50">{p.frontmatter.description}</p>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </section>

    <section class="grid grid-flow-row gap-8 md:gap-0 md:grid-flow-col">
      <h3 class="w-44">Work</h3>
      <div class="grid grid-flow-row gap-8 md:gap-14">
        <div class="grid grid-flow-row gap-2 md:grid-flow-col md:gap-28">
          <span class="opacity-50 w-28">2022 — Now</span>
          <div class="flex flex-col max-w-md gap-4">
            <div class="flex flex-col gap-2">
              <h4>Software Engineer at Relevance AI</h4>
              <span class="opacity-50">Sydney, Australia</span>
            </div>
            <p class="opacity-50">
              Engineering Relevance AI's front-end together with customers and building internal tooling to boost team
              productivity as we scale from seed-stage to Series A.
            </p>
          </div>
        </div>

        <div class="grid grid-flow-row gap-2 md:grid-flow-col md:gap-28">
          <span class="opacity-50 w-28">2022 — Now</span>
          <div class="flex flex-col max-w-md gap-4">
            <div class="flex flex-col gap-2">
              <h4>Development Intern at DIJGTAL</h4>
              <span class="opacity-50">Sydney, Australia</span>
            </div>
            <p class="opacity-50">
              Working with the Product and Front-End teams to build a web design system for internal applications and
              provide guidance for future direction.
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
