---
import CarouselLayout from "../layouts/CarouselLayout.astro";
import { Picture } from "astro-imagetools/components";
const allProjects = await Astro.glob('../pages/projects/*.md')
const featuredProjects = allProjects.filter(project => project.frontmatter.featured)
---

<CarouselLayout>
  {featuredProjects.map((project) => (
  <a class="flex overflow-hidden relative flex-none mt-4 mb-12 flex-col justify-between  transition-all duration-[245ms] ease-out shadow-lg w-64 h-96 rounded-2xl bg-gray-1 hover:translate-y-[-0.835rem] hover:shadow-gray-5 shadow-gray-6 hover:shadow-xl dark:shadow-none dark:bg-gray-3"
    href={project.url}>
    <div class='px-6 pt-6 h-1/2'>
      <h4 class="mb-3 font-semibold text-gray-12">{project.frontmatter.name}</h4>
      <span class="line-clamp-4 text-gray-12">{project.frontmatter.desc}</span>
    </div>
    <div class='h-1/2'>
      <Picture src={project.frontmatter.cover} alt={`Image of ${project.frontmatter.name}`} layout='fill' preload='webp' />
    </div>

  </a>
  ))}
</CarouselLayout>